mat-card {
  display: flex;
  flex-direction: row;
  .logo {
    display: block;
    align-self: flex-start;
  }
  .info-block {
    margin: 0 30px;
    width: 100%;
    mat-card-actions {
      margin-bottom: 0;
    }
  }
}

