<mat-card>
  <img [src]="department.screen" [alt]="department.name" class="logo" />
  <div class="info-block">
    <mat-card-title>{{ department.name }}</mat-card-title>
    <mat-card-subtitle>ID: {{ department.id }}</mat-card-subtitle>
    <mat-card-subtitle>Address: {{ department.address }}</mat-card-subtitle>
    <mat-card-subtitle>Tel: {{ department.telephone }}</mat-card-subtitle>
    <mat-card-subtitle>Parent: {{ department.parent.name }}</mat-card-subtitle>
    <mat-card-content>{{ department.description }}</mat-card-content>
    <mat-card-actions align="end">
      <button mat-button (click)="viewMore()">More</button>
    </mat-card-actions>
  </div>
</mat-card>
