mat-card {
  display: flex;
  background: #f7f7f7;

  .logo {
    align-self: center;
    max-height: 240px;
  }
  .info-block {
    width: 100%;
    margin: 0 30px;
    mat-card-actions {
      margin-bottom: 0;
    }
  }
}
